@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:host {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


img {
  filter: drop-shadow(0 10px 15px rgba(0,0,0,0.05));
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.group:hover img {
  filter: drop-shadow(0 20px 25px rgba(0,0,0,0.1));
}


button {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html {
  scroll-behavior: smooth;
}

.scroll-mt-28 {
  scroll-margin-top: 7rem; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}